<% provide(:title, "Accueil") %>

<div class="center jumbotron">
  <h1>Bienvenue !</h1>
  <hr>
  <p>AAaaaah Have a great time</p>

  <%= link_to "S'inscrire maintenant", signup_path , class: "btn btn-lg btn-primary" %>

</div>
