@import 'bootstrap-sprockets';
@import 'bootstrap';

body{
  padding-top: 75px;
  font-size: 18px;
}

.center{
  text-align: center;
}

p{
  font-size: 120%;
  padding: 20px 0;
}

footer p{
  text-align: center;
}


.logo{
  float: left;
  &:hover{
    transform: scale(0.9, 0.9);
  }
}

/* Mixin */
@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}


/* Misc */

.debug_dump{
  margin: 0 auto;
  width: 60%;
  margin-top: 45px;
  @include box-sizing
}